.main {
    background: url('../img/bg/milk.jpeg') center / cover no-repeat;
    height: 100vh;
    position: relative;
    &_header {
        height: 100px;
        padding: 32px 0 10px 0;
        display: flex;
        justify-content: space-between;
        &_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            &-img {
                display: block;
                margin-right: 25px;
                height: 36px;
            }
            &-title {
                color: $color-white;;
                font-size: 15px;
                font-weight: 400;
                line-height: 19px;
                width: 200px;
            }
        }
        &_social {
            display: flex;
            justify-content: center;
            align-items: center;
            &-tel {
                color: $color-white;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                text-align: center;
                text-decoration: none;
                border: 1px solid $color-white;
                border-radius: 15px;
                width: 204px;
                height: 36px;
                padding: 7px 27px;
                margin-right: 25px;
                cursor: pointer;
            }
            &-icon {
                position: relative;
                width: 36px;
                height: 36px;
                border: 1px solid $color-white;
                border-radius: 100%;
                margin-right: 25px;
                cursor: pointer;
                img {
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    &_hamburger {
        display: none;
    }
    &_menu {
        display: none;
    }
    &_content {
        width: 560px;
        margin-top: 190px;
        &-title {
            color: $color-black;
            font-size: 55px;
            font-weight: 400;
            line-height: 100%;
        }
        &-subtitle {
            color: $color-black;
            font-size: 34px;
            font-weight: 400;
            line-height: 110%;
            margin-top: 40px;
        }
        &_btns {
            display: flex;
            justify-content: start;
            margin-top: 40px;
            &-btn {
                height: 70px;
                padding: 23px 47px;
                margin-right: 20px;
                background-color: $color-white;
                border-radius: 40px;
                color: $color-black;
                font-size: 18px;
                font-weight: 500;
                line-height: 140%;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}

.about {
    padding: 70px 0;
    &_block {
        display: grid;
        grid-template-columns: 635px 445px;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
    }
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.elements {
    padding: 70px 0;
    &_block {
        display: grid;
        grid-template: minmax(200px, 250px) / repeat(5, 1fr);
        gap: 20px;
        margin-top: 50px;
        &_item {
            display: grid;
            grid-template: 55px minmax(25px, 245px) / auto;
            row-gap: 20px;
            &-number {
                color: $color-black;
                font-size: 55px;
                font-weight: 400;
                line-height: 100%;
                text-align: center;
            }
            &-text {
                color: $color-black;
                font-size: 18px;
                font-weight: 400;
                line-height: 140%;
                text-align: center;
            }
        }
    }
}

.price {
    padding: 70px 0;
    &_block {
        display: grid;
        grid-template-columns: 634px 395px;
        justify-content: center;
        gap: 80px;
        margin-top: 30px;
    }
    &_link {
        position: relative;
        display: block;
        width: 395px;
        height: 95px;
        background-color: $color-blue;
        color: $color-white;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        text-decoration: none;
        padding: 10px;
        margin-top: 10px;
        &::before {
            content: '';
            position: absolute;
            bottom: 12px;
            right: 115px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 15px solid $color-white;
        }
    }
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portfolio {
    padding: 70px 0;
    &_item {
        margin: 50px 0;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-block {
            display: flex;
            justify-content: start;
            margin-top: 30px;
        }
        &-width {
            width: 236px;
            margin-top: 10px;
        }
        &-text {
            margin-right: 100px;
        }
    }
    &_btn {
        display: block;
        border: 1px solid $color-black;
        border-radius: 40px;
        width: 231px;
        height: 60px;

        color: $color-black;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        text-decoration: none;
        padding: 16px 0;
        cursor: pointer;
        &-blue {
            display: block;
            margin: 0 auto;
            width: 214px;
            height: 68px;
            border-radius: 40px;
            background: $color-blue;
            color: $color-white;
            font-size: 20px;
            font-weight: 400;
            line-height: 110%;
            text-align: center;
            text-decoration: none;
            padding: 23px 0;
            cursor: pointer;
        }
    }
}